<?xml version="1.0"?>

<config>
    <modules>
        <Silk_Ew>
            <version>1.0.2</version>
        </Silk_Ew>
    </modules>
    <frontend>
        <routers>
            <ew>
                <use>standard</use>
                <args>
                    <module>Silk_Ew</module>
                    <frontName>ew</frontName>
                </args>
            </ew>
        </routers>
        <layout>
            <updates>
                <ew>
                    <file>ew.xml</file>
                </ew>
            </updates>
        </layout>
    </frontend>
   
    <admin>
        <routers>
			<ew>
				<use>admin</use>
				<args>
					<module>Silk_Ew</module>
					<frontName>extended-warranty</frontName>
				</args>
			</ew>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<ew>
					<file>ew.xml</file>
				</ew>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <ew>
                <class>Silk_Ew_Model</class>
                <resourceModel>ew_mysql4</resourceModel>
            </ew>
            <ew_mysql4>
                <class>Silk_Ew_Model_Mysql4</class>
                <entities>
                    <ew>
                        <table>silk_ew</table>
                    </ew>
                </entities>
            </ew_mysql4>
        </models>
        <resources>
            <ew_setup>
                <setup>
                    <module>Silk_Ew</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ew_setup>
            <ew_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ew_write>
            <ew_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ew_read>
        </resources>
        <blocks>
            <ew>
                <class>Silk_Ew_Block</class>
            </ew>
        </blocks>
        <helpers>
            <ew>
                <class>Silk_Ew_Helper</class>
            </ew>
        </helpers>

        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <model_no />
                        <as_warranty_option />
                    </product_attributes>
                </item>
            </quote>
        </sales>
         <events>
         <sales_convert_quote_item_to_order_item>
            <observers>
                <ew>
                    <type>singleton</type>
                    <class>ew/observer</class>
                    <method>salesConvertQuoteItemToOrderItem</method>
                </ew>
            </observers>
        </sales_convert_quote_item_to_order_item>
      <sales_quote_product_add_after>
        <observers>
            <ew>
                <class>ew/observer</class>
                <method>warranty</method>
            </ew>
        </observers>
      </sales_quote_product_add_after>
        </events>
        
       </global>
  </config>
