<?xml version="1.0"?>
<config>
    <modules>
        <Silk_Categorygridfilter>
            <version>0.1.0</version>
        </Silk_Categorygridfilter>
    </modules>
    <global>
        <models>
            <categorygridfilter>
                <class>Silk_Categorygridfilter_Model</class>
            </categorygridfilter>
        </models>
        <helpers>
            <categorygridfilter>
                <class>Silk_Categorygridfilter_Helper</class>
            </categorygridfilter>
        </helpers>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_category_tab_product>Silk_Categorygridfilter_Block_Adminhtml_Catalog_Category_Tab_Product</catalog_category_tab_product>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <categorygridfilter>
                                            <title>Category Filter</title>
                                        </categorygridfilter>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <categorygridfilter>
            <settings>
                <active>1</active>
                <category_column_enabled>1</category_column_enabled>
                <thumbnail_column_enabled>1</thumbnail_column_enabled>
                <thumbnail_width>60</thumbnail_width>
            </settings>
        </categorygridfilter>
    </default>
</config>
