<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Silk_Company>
            <version>0.1.0</version>
        </Silk_Company>
    </modules>
    <default>
        <general>
            <company>
                <app_version>1.0</app_version>
            </company>
        </general>
    </default>
    <frontend>
        <routers>
            <company>
                <use>standard</use>
                <args>
                    <module>Silk_Company</module>
                    <frontName>company</frontName>
                </args>
            </company>
        </routers>
        <layout>
            <updates>
                <company>
                    <file>company.xml</file>
                </company>
            </updates>
        </layout>
        <translate>
            <modules>
                <Silk_Company>
                    <files>
                        <default>Silk_Company.csv</default>
                    </files>
                </Silk_Company>
            </modules>
        </translate>
    </frontend>
    <global>
        <helpers>
            <company>
                <class>Silk_Company_Helper</class>
            </company>
        </helpers>
        <blocks>
            <company>
                <class>Silk_Company_Block</class>
            </company>
            <adminhtml>
                <rewrite>
                    <customer>Silk_Company_Block_Adminhtml_Customer</customer>
                    <customer_grid>Silk_Company_Block_Adminhtml_Customer_Grid</customer_grid>
                    <customer_edit_tab_account>Silk_Company_Block_Adminhtml_Customer_Edit_Tab_Account</customer_edit_tab_account>


                </rewrite>
            </adminhtml>
            <customer>
                <rewrite>
                    <address_book>Silk_Company_Block_Address_Book</address_book>
                    <account_navigation>Silk_Company_Block_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
        </blocks>
        <models>
            <company>
                <class>Silk_Company_Model</class>
                <resourceModel>company_mysql4</resourceModel>
            </company>
            <company_mysql4>
                <class>Silk_Company_Model_Mysql4</class>
                <entities>
                    <company>
                        <table>silk_company</table>
                    </company>
                </entities>
            </company_mysql4>
            <customer>
                <rewrite>
                    <customer>Silk_Company_Model_Customer</customer>
                </rewrite>
            </customer>
            <customer_resource>
                <rewrite>
                    <customer>Silk_Company_Model_Resource_Customer</customer>
                </rewrite>
            </customer_resource>
        </models>
        <events></events>
        <rewrite>
            <admin_customer_index>
                <from><![CDATA[#^/admin/customer/index/#]]></from>
                <to>/admin_company/adminhtml_customer/index/</to>
            </admin_customer_index>
            <admin_customer_save>
                <from><![CDATA[#^/admin/customer/save/#]]></from>
                <to>/admin_company/adminhtml_customer/save/</to>
            </admin_customer_save>
        </rewrite>
    </global>
    <admin>
        <routers>
            <admin_company>
                <use>admin</use>
                <args>
                    <module>Silk_Company</module>
                    <frontName>admin_company</frontName>
                </args>
            </admin_company>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Silk_Company>
                    <files>
                        <default>Silk_Company.csv</default>
                    </files>
                </Silk_Company>
            </modules>
        </translate>
        <layout>
            <updates>
                <company>
                    <file>company.xml</file>
                </company>
            </updates>
        </layout>
    </adminhtml>
</config>
