


    .product_swatch img { width: 30px; }
    .product_swatch img { height: 30px; }

    .swatches .filter_checkbox .swatch-container{ width: 30px; }
    .swatches .filter_checkbox .swatch-container{ height: 30px; }



    .w, .toolbar, .products-list, #wpmm-nav, .wpmm-nav-content-inner  {max-width: 1280px ; }



    #wrapper { max-width: 100%; margin:0 auto; }

























    
    














#wpmm-nav li.nav-2 > a {
}
li.nav-2 > .wpmm-nav-content {
    background-size: cover;
}
#wpmm-nav li.nav-2-1 > a {
}
#wpmm-nav li.nav-2-2 > a {
}
#wpmm-nav li.nav-2-3 > a {
}
#wpmm-nav li.nav-3 > a {
}
li.nav-3 > .wpmm-nav-content {
    background-size: cover;
}
#wpmm-nav li.nav-3-1 > a {
}
#wpmm-nav li.nav-3-2 > a {
}
#wpmm-nav li.nav-3-2-1 > a {
}
#wpmm-nav li.nav-3-2-2 > a {
}
#wpmm-nav li.nav-3-2-3 > a {
}
#wpmm-nav li.nav-3-2-4 > a {
}
#wpmm-nav li.nav-3-2-5 > a {
}
#wpmm-nav li.nav-3-3 > a {
}
#wpmm-nav li.nav-3-3-1 > a {
}
#wpmm-nav li.nav-3-3-2 > a {
}
#wpmm-nav li.nav-3-3-3 > a {
}
#wpmm-nav li.nav-3-3-4 > a {
}
#wpmm-nav li.nav-3-4 > a {
}
#wpmm-nav li.nav-3-4-1 > a {
}
#wpmm-nav li.nav-3-4-2 > a {
}
#wpmm-nav li.nav-3-4-3 > a {
}
#wpmm-nav li.nav-3-5 > a {
}
#wpmm-nav li.nav-3-5-1 > a {
}
#wpmm-nav li.nav-3-5-2 > a {
}
#wpmm-nav li.nav-3-5-3 > a {
}
#wpmm-nav li.nav-3-5-4 > a {
}
#wpmm-nav li.nav-3-6 > a {
}
#wpmm-nav li.nav-4 > a {
}
li.nav-4 > .wpmm-nav-content {
    background-size: cover;
}
#wpmm-nav li.nav-4-1 > a {
}
#wpmm-nav li.nav-4-1-1 > a {
}
#wpmm-nav li.nav-4-1-2 > a {
}
#wpmm-nav li.nav-4-1-3 > a {
}
#wpmm-nav li.nav-4-1-4 > a {
}
#wpmm-nav li.nav-4-1-5 > a {
}
#wpmm-nav li.nav-4-1-6 > a {
}
#wpmm-nav li.nav-4-2 > a {
}
#wpmm-nav li.nav-4-3 > a {
}
#wpmm-nav li.nav-4-4 > a {
}
#wpmm-nav li.nav-4-5 > a {
}
#wpmm-nav li.nav-4-6 > a {
}
#wpmm-nav li.nav-4-7 > a {
}
#wpmm-nav li.nav-5 > a {
}
li.nav-5 > .wpmm-nav-content {
    background-size: cover;
}
#wpmm-nav li.nav-5-1 > a {
}
#wpmm-nav li.nav-5-2 > a {
}
#wpmm-nav li.nav-5-3 > a {
}
#wpmm-nav li.nav-5-4 > a {
}
#wpmm-nav li.nav-5-5 > a {
}
#wpmm-nav li.nav-6 > a {
}
li.nav-6 > .wpmm-nav-content {
    background-size: cover;
}
#wpmm-nav li.nav-6-1 > a {
}
#wpmm-nav li.nav-6-2 > a {
}
#wpmm-nav li.nav-6-3 > a {
}
#wpmm-nav li.nav-6-4 > a {
}
#wpmm-nav li.nav-6-5 > a {
}
#wpmm-nav li.nav-6-6 > a {
}
#wpmm-nav li.nav-7 > a {
}
li.nav-7 > .wpmm-nav-content {
    background-size: cover;
}
#wpmm-nav li.nav-7-1 > a {
}
#wpmm-nav li.nav-7-2 > a {
}
#wpmm-nav li.nav-7-3 > a {
}
#wpmm-nav li.nav-8 > a {
}
li.nav-8 > .wpmm-nav-content {
    background-size: cover;
}
#wpmm-nav li.nav-8-1 > a {
}
#wpmm-nav li.nav-8-2 > a {
}
#wpmm-nav li.nav-8-3 > a {
}
#wpmm-nav li.nav-8-4 > a {
}
#wpmm-nav li.nav-8-5 > a {
}
#wpmm-nav li.nav-8-6 > a {
}
#wpmm-nav li.nav-8-7 > a {
}
#wpmm-nav li.nav-8-8 > a {
}
#wpmm-nav li.nav-9 > a {
}
li.nav-9 > .wpmm-nav-content {
    background-size: cover;
}
#wpmm-nav li.nav-9-1 > a {
}
#wpmm-nav li.nav-9-2 > a {
}
#wpmm-nav li.nav-9-3 > a {
}
#wpmm-nav li.nav-10 > a {
}
li.nav-10 > .wpmm-nav-content {
    background-size: cover;
}
#wpmm-nav li.nav-10-1 > a {
}
#wpmm-nav li.nav-10-2 > a {
}
