<?xml version="1.0"?>
<config>
    <modules>
        <Silk_B2bregister>
            <version>0.1.0</version>
        </Silk_B2bregister>
    </modules>

    <global>
        <models>
            <b2bregister>
                <class>Silk_B2bregister_Model</class>
            </b2bregister>
        </models>
        <helpers>
            <b2bregister>
                <class>Silk_B2bregister_Helper</class>
            </b2bregister>
        </helpers>
        <blocks>
            <b2bregister>
            <class>Silk_B2bregister_Block</class>
           </b2bregister>
        </blocks>
    </global>
    <frontend>
         <enterprise>
            <websiterestriction>
                <full_action_names>
                    <generic>
                        <b2bregister_account_createpost/>
                        <b2bregister_account_loginpost/>
                    </generic>
                    <register>
                        <b2bregister_account_create/>
                    </register>
                </full_action_names>
            </websiterestriction>
        </enterprise>
        <layout>
            <updates>
                <mana_filters>
                    <file>b2bregister.xml</file>
                </mana_filters>
            </updates>
        </layout>
         <routers>
            <b2bregister>
                <use>standard</use>
                <args>
                    <module>Silk_B2bregister</module>
                    <frontName>b2bregister</frontName>
                </args>
            </b2bregister>
        </routers>
    </frontend>
</config>
